.landing-page {
  background-image: url('/plants/landing-bg.jpg'); /* ضع صورة الخلفية هنا */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.overlay button {
  padding: 10px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
}
.landing-page {
  background-image: url('/plants/landing-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}